<div class="container">

    <div class="header">
        <h2>Test Vocacional</h2>
        <p>Sección de test para el estudiante</p>
    </div>

    <div class="title">5/5 parte</div>
    
    <!-- Pregunta 1 -->
    <div class="question-container">
        <div class="question">¿Te sientes más cómodo tomando decisiones importantes por ti mismo?</div>
        <div class="slider-container">
            <input type="range" min="1" max="5" value="3" class="slider" id="slider1">
            <div class="slider-labels">
                <div class="slider-value" id="value1">1</div>
                <div class="slider-value" id="value1">2</div>
                <div class="slider-value" id="value1">3</div>
                <div class="slider-value" id="value1">4</div>
                <div class="slider-value" id="value1">5</div>
            </div>
        </div>
    </div>

    <!-- Pregunta 2 -->
    <div class="question-container">
        <div class="question">¿Qué tan dispuesto estás a asumir riesgos en un ambiente laboral?</div>
        <div class="slider-container">
            <input type="range" min="1" max="5" value="3" class="slider" id="slider2">
            <div class="slider-labels">
                <div class="slider-value" id="value1">1</div>
                <div class="slider-value" id="value1">2</div>
                <div class="slider-value" id="value1">3</div>
                <div class="slider-value" id="value1">4</div>
                <div class="slider-value" id="value1">5</div>
            </div>
        </div>
    </div>

    <!-- Pregunta 3 -->
    <div class="question-container">
        <div class="question">¿Qué tanto te gustan los trabajos que requieren atención a los detalles?</div>
        <div class="slider-container">
            <input type="range" min="1" max="5" value="3" class="slider" id="slider3">
            <div class="slider-labels">
                <div class="slider-value" id="value1">1</div>
                <div class="slider-value" id="value1">2</div>
                <div class="slider-value" id="value1">3</div>
                <div class="slider-value" id="value1">4</div>
                <div class="slider-value" id="value1">5</div>
            </div>
        </div>
    </div>

    <div class="button-container">
        <button class="button button-back" (click)="navigateToBack()">Regresar</button>
        <button class="button button-next" (click)="navigateToNext()">Continuar</button>
    </div>    
</div>
