<div class="container">
    <!-- Encabezado de perfil -->
    <div class="profile-header">
        <div>
            <h2>Resultados de la encuesta</h2>
            <p>Estudiante</p>
        </div>
        <div class="icon">📊</div>
    </div>

    <!-- Barras de progreso -->
    <div class="progress-bar-container">
        <div class="progress-bar-label">Matemática</div>
        <div class="progress-bar">
            <div class="progress" style="width: 70%;"></div>
        </div>
    </div>
    <div class="progress-bar-container">
        <div class="progress-bar-label">Ciencias</div>
        <div class="progress-bar">
            <div class="progress" style="width: 50%;"></div>
        </div>
    </div>
    <div class="progress-bar-container">
        <div class="progress-bar-label">Lectura</div>
        <div class="progress-bar">
            <div class="progress" style="width: 60%;"></div>
        </div>
    </div>
    <div class="progress-bar-container">
        <div class="progress-bar-label">Artes</div>
        <div class="progress-bar">
            <div class="progress" style="width: 80%;"></div>
        </div>
    </div>
    <div class="progress-bar-container">
        <div class="progress-bar-label">Deporte</div>
        <div class="progress-bar">
            <div class="progress" style="width: 40%;"></div>
        </div>
    </div>

    <!-- Personalidad -->
    <div class="tags-container">
        <div class="tag">INTROVERTIDO</div>
        <div class="tag">PERCEPTIVO</div>
        <div class="tag">INTUITIVO</div>
        <div class="tag">PENSATIVO</div>
    </div>

    <!-- Datos extras -->
    <div class="extra-data">
        <p><span class="extra-data-label">Habilidad blanda:</span> Pensamiento crítico</p>
        <p><span class="extra-data-label">Preferencia laboral:</span> Seguridad laboral</p>
        <p><span class="extra-data-label">Preferencia laboral:</span> Trabajo remoto</p>
        <p><span class="extra-data-label">Preferencia laboral:</span> Ambientes estables</p>
    </div>

    <!-- Botones -->
    <div class="button-container">
        <button class="button" (click)="navigateToResultadoGuardado()">Guardar</button>
        <button class="button" (click)="navigateToAccesoTest()">Reiniciar</button>
    </div>
</div>