<div class="signup-container">
    <div class="header">
        <img src="assets/images/Logo.png" alt="Logo" class="logo" />
        @if(!completed) {
            <p>Registrate</p>
        } @else {
            <p>Confirmación</p>
        }
    </div>
    @if (!completed) {
        <div class="body">
            <div class="field">
                <label>Nombres</label>
                <input type="text" placeholder="Ingrese nombres">
            </div>
            <div class="field">
                <label>Apellidos</label>
                <input type="text" placeholder="Ingrese apellidos">
            </div>
            <div class="field">
                <label>Correo</label>
                <input type="text" placeholder="Ingrese correo">
            </div>
            <div class="field">
                <label>Contraseña</label>
                <input type="password" placeholder="Ingrese contraseña">
            </div>
            <div class="field">
                <label>Confirmar contraseña</label>
                <input type="password" placeholder="Confirme contraseña">
            </div>
        </div>
        <div class="buttons">
            <input class="signup" type="button" value="Registrate" (click)="completeSignUp()">
            <input class="cancel" type="button" value="Cancelar" (click)="navigateToMain()">
        </div>
    } @else {
        <div class="message-box">
            <p>Su cuenta ha sido vereficada correctamente. Por favor inicie sesión para continuar.</p>
        </div>
        <div class="buttons">
            <input class="signup" type="button" value="Iniciar Sesión" (click)="navigateToSignIn()">
        </div>
    }
</div>
