
<div class="container">
    <div class="top">
        <div class="back-arrow">
            <img src="assets/images/flecha-izquierda.png" alt="flecha" routerLink="/home/student/inicio">
        </div>
        <div class="title">
            <h1>Citas</h1>
            <p>Explora tus intereses con expertos en la carrera de tu elección</p>
        </div>
    </div>

    <div class="search-container">
        <span class="search-icon">🔍</span>
        <input type="text" placeholder="Buscar asesores" (input)="searchQuery = $event.target.value; onSearch()">
    </div>

    <div class="advisors-list" >
        <div class="advisor-card" routerLink="/home/student/Confirmacion">
            <span>Francisco Emanuel Aguilar</span>
            <button class="mail-button">✉</button>
        </div>
        <div class="advisor-card" routerLink="/home/student/Confirmacion">
            <span>Luis Martin Sanchez Canaval</span>
            <button class="mail-button">✉</button>
        </div>
        <div class="advisor-card" routerLink="/home/student/Confirmacion">
            <span>Elizabeth Del Pilar Saenz Musayon</span>
            <button class="mail-button">✉</button>
        </div>
        <div class="advisor-card" routerLink="/home/student/Confirmacion">
            <span>Henry Antonio Mendoza Puerta</span>
            <button class="mail-button">✉</button>
        </div>
        <div class="advisor-card" routerLink="/home/student/Confirmacion">
            <span>Jonathan Abrahan Sueros Zarate</span>
            <button class="mail-button">✉</button>
        </div>
    </div>
</div>
