<div class="container">
    <main>
        <div class="profile">
            <img src="assets/images/profile.png" alt="Jon Doe">
            <h2>Jon Doe</h2>
        </div>
        <div class="content">
            <h1>Ruta Vocacional</h1>
            <p>Mapa guía vocacional y profesional</p>
            <div class="buttons">
                <div class="button" routerLink="/home/student/test">
                    <img src="assets/images/test-icon.png" alt="Test vocacional">
                    <p>Test vocacional</p>
                </div>
                <div class="button" routerLink="/home/student/community">
                    <img src="assets/images/community-icon.png" alt="Comunidad">
                    <p>Comunidad</p>
                </div>
                <div class="button" routerLink="/home/student/universities">
                    <img src="assets/images/career-icon.png" alt="Explorador de carreras">
                    <p>Explorador de universidades</p>
                </div>
                <div class="button" routerLink="/home/student/appointment">
                    <img src="assets/images/appointment-icon.png" alt="Solicitar cita">
                    <p>Solicitar cita</p>
                </div>
            </div>
        </div>
    </main>
</div>