<div class="container">
    <main>
        <div class="top">
            <div class="back-arrow">
                <img src="assets/images/flecha-izquierda.png" alt="flecha" routerLink="/home/student/test">
            </div>
            <div class="title">
                <h1>Test Vocacional</h1>
                <p>Sección de test para el estudiante</p>
            </div>
        </div>

        <div class="title">{{step}}/6 parte</div>

        <div *ngFor="let group of groupedQuestions; let groupIndex = index" class="group-container">
            <div *ngIf="step === groupIndex + 1">
              <div *ngFor="let item of group; let i = index" class="question-container">
                <div class="question">{{ item.question }}</div>
                <div class="slider-container">
                  <input 
                    type="range" 
                    min="1" 
                    max="5" 
                    [value]="item.answer" 
                    (change)="updateAnswer(i, groupIndex, $event)" 
                    [name]="'question' + groupIndex + '_' + i" 
                    class="slider"
                  />
                  <div class="slider-labels">
                    <div class="slider-value">1</div>
                    <div class="slider-value">2</div>
                    <div class="slider-value">3</div>
                    <div class="slider-value">4</div>
                    <div class="slider-value">5</div>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="button-container">
            <button class="button button-back" (click)="navigateToBack()" [disabled]="step === 1">Regresar</button>
            <button class="button button-next" (click)="navigateToNext()">Continuar</button>
        </div>
    </main>
</div>
