
<div class="container">
    <main>
        <div class="top">
            <div class="back-arrow" >
                <img src="assets/images/flecha-izquierda.png" alt="flecha" routerLink="/home/student/test">
            </div>
            <div class="title">
                <h1>Test Vocacional</h1>
                <p>Sección de test para el estudiante</p>
            </div>
        </div>

        @if(step==1){
            <div class="title">1/5 parte</div>
            
            <!-- Pregunta 1 -->
            <div class="question-container">
                <div class="question">¿Qué tanto disfrutas realizar actividades creativas como dibujar, escribir o diseñar?</div>
                <div class="slider-container">
                    <input type="range" min="1" max="5" value="3" class="slider" id="slider1">
                    <div class="slider-labels">
                        <div class="slider-value" id="value1">1</div>
                        <div class="slider-value" id="value1">2</div>
                        <div class="slider-value" id="value1">3</div>
                        <div class="slider-value" id="value1">4</div>
                        <div class="slider-value" id="value1">5</div>
                    </div>
                </div>
            </div>

            <!-- Pregunta 2 -->
            <div class="question-container">
                <div class="question">¿Qué tanto disfrutas resolver problemas o acertijos complejos?</div>
                <div class="slider-container">
                    <input type="range" min="1" max="5" value="3" class="slider" id="slider2">
                    <div class="slider-labels">
                        <div class="slider-value" id="value1">1</div>
                        <div class="slider-value" id="value1">2</div>
                        <div class="slider-value" id="value1">3</div>
                        <div class="slider-value" id="value1">4</div>
                        <div class="slider-value" id="value1">5</div>
                    </div>
                </div>
            </div>

            <!-- Pregunta 3 -->
            <div class="question-container">
                <div class="question">¿Qué tanto disfrutas realizar actividades creativas como dibujar, escribir o diseñar?</div>
                <div class="slider-container">
                    <input type="range" min="1" max="5" value="3" class="slider" id="slider3">
                    <div class="slider-labels">
                        <div class="slider-value" id="value1">1</div>
                        <div class="slider-value" id="value1">2</div>
                        <div class="slider-value" id="value1">3</div>
                        <div class="slider-value" id="value1">4</div>
                        <div class="slider-value" id="value1">5</div>
                    </div>
                </div>
            </div>
        }
        @else if(step==2){
            <div class="title">2/5 parte</div>
    
            <!-- Pregunta 1 -->
            <div class="question-container">
                <div class="question">¿Qué tan competente te consideras para resolver problemas matemáticos o lógicos?</div>
                <div class="slider-container">
                    <input type="range" min="1" max="5" value="3" class="slider" id="slider1">
                    <div class="slider-labels">
                        <div class="slider-value" id="value1">1</div>
                        <div class="slider-value" id="value1">2</div>
                        <div class="slider-value" id="value1">3</div>
                        <div class="slider-value" id="value1">4</div>
                        <div class="slider-value" id="value1">5</div>
                    </div>
                </div>
            </div>

            <!-- Pregunta 2 -->
            <div class="question-container">
                <div class="question">¿Qué tan bueno eres en comunicarte de manera efectiva con otras personas?</div>
                <div class="slider-container">
                    <input type="range" min="1" max="5" value="3" class="slider" id="slider2">
                    <div class="slider-labels">
                        <div class="slider-value" id="value1">1</div>
                        <div class="slider-value" id="value1">2</div>
                        <div class="slider-value" id="value1">3</div>
                        <div class="slider-value" id="value1">4</div>
                        <div class="slider-value" id="value1">5</div>
                    </div>
                </div>
            </div>

            <!-- Pregunta 3 -->
            <div class="question-container">
                <div class="question">¿Qué tan habilidoso te consideras en tareas manuales o prácticas?</div>
                <div class="slider-container">
                    <input type="range" min="1" max="5" value="3" class="slider" id="slider3">
                    <div class="slider-labels">
                        <div class="slider-value" id="value1">1</div>
                        <div class="slider-value" id="value1">2</div>
                        <div class="slider-value" id="value1">3</div>
                        <div class="slider-value" id="value1">4</div>
                        <div class="slider-value" id="value1">5</div>
                    </div>
                </div>
            </div>
        }
        @else if(step==3){
            <div class="title">3/5 parte</div>
    
            <!-- Pregunta 1 -->
            <div class="question-container">
                <div class="question">Qué tan importante es para ti tener estabilidad laboral en tu futuro trabajo?</div>
                <div class="slider-container">
                    <input type="range" min="1" max="5" value="3" class="slider" id="slider1">
                    <div class="slider-labels">
                        <div class="slider-value" id="value1">1</div>
                        <div class="slider-value" id="value1">2</div>
                        <div class="slider-value" id="value1">3</div>
                        <div class="slider-value" id="value1">4</div>
                        <div class="slider-value" id="value1">5</div>
                    </div>
                </div>
            </div>

            <!-- Pregunta 2 -->
            <div class="question-container">
                <div class="question">Qué tan importante es que tu trabajo te permita ser creativo?</div>
                <div class="slider-container">
                    <input type="range" min="1" max="5" value="3" class="slider" id="slider2">
                    <div class="slider-labels">
                        <div class="slider-value" id="value1">1</div>
                        <div class="slider-value" id="value1">2</div>
                        <div class="slider-value" id="value1">3</div>
                        <div class="slider-value" id="value1">4</div>
                        <div class="slider-value" id="value1">5</div>
                    </div>
                </div>
            </div>

            <!-- Pregunta 3 -->
            <div class="question-container">
                <div class="question">¿Qué tanto valoras la posibilidad de tener un impacto positivo en la sociedad?</div>
                <div class="slider-container">
                    <input type="range" min="1" max="5" value="3" class="slider" id="slider3">
                    <div class="slider-labels">
                        <div class="slider-value" id="value1">1</div>
                        <div class="slider-value" id="value1">2</div>
                        <div class="slider-value" id="value1">3</div>
                        <div class="slider-value" id="value1">4</div>
                        <div class="slider-value" id="value1">5</div>
                    </div>
                </div>
            </div>
        }
        @else if(step==4){
            <div class="title">4/5 parte</div>
            <!-- Pregunta 1 -->
            <div class="question-container">
                <div class="question">¿Qué tan competente te consideras para resolver problemas matemáticos o lógicos?</div>
                <div class="slider-container">
                    <input type="range" min="1" max="5" value="3" class="slider" id="slider1">
                    <div class="slider-labels">
                        <div class="slider-value" id="value1">1</div>
                        <div class="slider-value" id="value1">2</div>
                        <div class="slider-value" id="value1">3</div>
                        <div class="slider-value" id="value1">4</div>
                        <div class="slider-value" id="value1">5</div>
                    </div>
                </div>
            </div>

            <!-- Pregunta 2 -->
            <div class="question-container">
                <div class="question">¿Qué tan bueno eres en comunicarte de manera efectiva con otras personas?</div>
                <div class="slider-container">
                    <input type="range" min="1" max="5" value="3" class="slider" id="slider2">
                    <div class="slider-labels">
                        <div class="slider-value" id="value1">1</div>
                        <div class="slider-value" id="value1">2</div>
                        <div class="slider-value" id="value1">3</div>
                        <div class="slider-value" id="value1">4</div>
                        <div class="slider-value" id="value1">5</div>
                    </div>
                </div>
            </div>

            <!-- Pregunta 3 -->
            <div class="question-container">
                <div class="question">¿Qué tan habilidoso te consideras en tareas manuales o prácticas?</div>
                <div class="slider-container">
                    <input type="range" min="1" max="5" value="3" class="slider" id="slider3">
                    <div class="slider-labels">
                        <div class="slider-value" id="value1">1</div>
                        <div class="slider-value" id="value1">2</div>
                        <div class="slider-value" id="value1">3</div>
                        <div class="slider-value" id="value1">4</div>
                        <div class="slider-value" id="value1">5</div>
                    </div>
                </div>
            </div>
        }
        @else if(step==5){
            <div class="title">5/5 parte</div>
            <!-- Pregunta 1 -->
            <div class="question-container">
                <div class="question">¿Te sientes más cómodo tomando decisiones importantes por ti mismo?</div>
                <div class="slider-container">
                    <input type="range" min="1" max="5" value="3" class="slider" id="slider1">
                    <div class="slider-labels">
                        <div class="slider-value" id="value1">1</div>
                        <div class="slider-value" id="value1">2</div>
                        <div class="slider-value" id="value1">3</div>
                        <div class="slider-value" id="value1">4</div>
                        <div class="slider-value" id="value1">5</div>
                    </div>
                </div>
            </div>

            <!-- Pregunta 2 -->
            <div class="question-container">
                <div class="question">¿Qué tan dispuesto estás a asumir riesgos en un ambiente laboral?</div>
                <div class="slider-container">
                    <input type="range" min="1" max="5" value="3" class="slider" id="slider2">
                    <div class="slider-labels">
                        <div class="slider-value" id="value1">1</div>
                        <div class="slider-value" id="value1">2</div>
                        <div class="slider-value" id="value1">3</div>
                        <div class="slider-value" id="value1">4</div>
                        <div class="slider-value" id="value1">5</div>
                    </div>
                </div>
            </div>

            <!-- Pregunta 3 -->
            <div class="question-container">
                <div class="question">¿Qué tanto te gustan los trabajos que requieren atención a los detalles?</div>
                <div class="slider-container">
                    <input type="range" min="1" max="5" value="3" class="slider" id="slider3">
                    <div class="slider-labels">
                        <div class="slider-value" id="value1">1</div>
                        <div class="slider-value" id="value1">2</div>
                        <div class="slider-value" id="value1">3</div>
                        <div class="slider-value" id="value1">4</div>
                        <div class="slider-value" id="value1">5</div>
                    </div>
                </div>
            </div>
        }

        

        <div class="button-container">
            <button class="button button-back" (click)="navigateToBack()">Regresar</button>
            <button class="button button-next" (click)="navigateToNext()">Continuar</button>
        </div>    
    </main>
</div> 
