body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    font-family: Arial;
    text-align: center;
    width: 100%;
    max-width: 700px;
}


h2 {
    color: #009FB7;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}


label {
    font-weight: bold;
    text-align: left;
    font-size: 14px;
    color: #333;
}

input[type="text"], input[type="email"], input[type="date"], input[type="time"], select, textarea {
    padding: 10px;
    
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"], .cancel-button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

input[type="submit"] {
    background-color: #009FB7;
    color: white;
    border: none;
}

input[type="submit"]:hover {
    background-color: #007B80;
}

.cancel-button {
    background-color: white;
    color: #009FB7;
    border: 2px solid #009FB7;
}

.cancel-button:hover {
    background-color: #f0f0f0;
}