<div class="container">
    <header>
        <img src="assets/images/Logo.png" alt="logo" class="logo-image">
        <nav class="navbar">
            <ul>
                <li><a routerLink="/student/inicio" routerlinkActive="active">Inicio</a></li>
                <li><a routerLink="/student/test" routerLinkActive="active">Tests</a></li>
                <li><a routerLink="/student/universities" routerLinkActive="active">Universidades</a></li>
                <li><a routerLink="/student/community" routerLinkActive="active">Comunidad</a></li>
                <li><a routerLink="/student/appointment" routerLinkActive="active">Citas</a></li>
            </ul>
        </nav>
        <div class="menu">
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="menu-icon">
                <img src="assets/images/menu-icon.png" alt="menu-icon" class="menu-icon">
            </label>
            <div class="menu-content">
                <a href="#">Perfil</a>
                <a href="#">Configuración</a>
                <a href="#">Cerrar sesión</a>
            </div>
        </div>
    </header>
</div>