<div class="container">

    <div class="header">
        <h2>Test Vocacional</h2>
        <p>Sección de test para el estudiante</p>
    </div>

    <div class="title">3/5 parte</div>
    
    <!-- Pregunta 1 -->
    <div class="question-container">
        <div class="question">Qué tan importante es para ti tener estabilidad laboral en tu futuro trabajo?</div>
        <div class="slider-container">
            <input type="range" min="1" max="5" value="3" class="slider" id="slider1">
            <div class="slider-labels">
                <div class="slider-value" id="value1">1</div>
                <div class="slider-value" id="value1">2</div>
                <div class="slider-value" id="value1">3</div>
                <div class="slider-value" id="value1">4</div>
                <div class="slider-value" id="value1">5</div>
            </div>
        </div>
    </div>

    <!-- Pregunta 2 -->
    <div class="question-container">
        <div class="question">Qué tan importante es que tu trabajo te permita ser creativo?</div>
        <div class="slider-container">
            <input type="range" min="1" max="5" value="3" class="slider" id="slider2">
            <div class="slider-labels">
                <div class="slider-value" id="value1">1</div>
                <div class="slider-value" id="value1">2</div>
                <div class="slider-value" id="value1">3</div>
                <div class="slider-value" id="value1">4</div>
                <div class="slider-value" id="value1">5</div>
            </div>
        </div>
    </div>

    <!-- Pregunta 3 -->
    <div class="question-container">
        <div class="question">¿Qué tanto valoras la posibilidad de tener un impacto positivo en la sociedad?</div>
        <div class="slider-container">
            <input type="range" min="1" max="5" value="3" class="slider" id="slider3">
            <div class="slider-labels">
                <div class="slider-value" id="value1">1</div>
                <div class="slider-value" id="value1">2</div>
                <div class="slider-value" id="value1">3</div>
                <div class="slider-value" id="value1">4</div>
                <div class="slider-value" id="value1">5</div>
            </div>
        </div>
    </div>

    <div class="button-container">
        <button class="button button-back" (click)="navigateToBack()">Regresar</button>
        <button class="button button-next" (click)="navigateToNext()">Continuar</button>
    </div>    
</div>
