<div class="accesotest-container">
    <div class="header">
        <h2>Test Vocacional</h2>
        <p>Sección de test para el estudiante</p>
    </div>

    <div href="#" class="card" (click)="navigateToResultadoEncuesta()">
        <div class="card-icon icon-orange">📋</div>
        <div class="card-text">Resultados de test</div>
    </div>

    <div href="#" class="card" (click)="navigateToTest()">
        <div class="card-icon icon-blue">➕</div>
        <div class="card-text">Tomar test vocacional</div>
    </div>

    <div href="#" class="card">
        <div class="card-icon icon-orange">✉️</div>
        <div class="card-text">Enviar resultados a usuarios</div>
    </div>

    <div class="volver" (click)="navigateToHome()">Volver</div>

</div>