body {
    font-family: Arial;
    display: flex;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 400px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.header {
    text-align: center;
    font-family: Arial;
    margin-bottom: 20px;
}

.header h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
    color: #009FB7;
}

.header p {
    margin: 0;
    color: #777;
    font-size: 14px;
}

/* Estilos de tarjeta */
.card {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    text-decoration: none;
    color: #333;
    font-family: Arial;
    transition: transform 0.2s, background-color 1s;
}

.card:hover {
    transform: translateY(-5px);
    background-color: #00bad7;
}

.card-icon {
    font-size: 30px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Colores de íconos */
.icon-orange {
    color: #FF9800;
}

.icon-blue {
    color: #3F51B5;
}

/* Texto de la tarjeta */
.card-text {
    font-size: 16px;
    font-weight: bold;
}