<div class="container">
    <div class="content">
        <div class="top">
            <div class="back-arrow" >
                <img src="assets/images/flecha-izquierda.png" alt="flecha" routerLink="/home/student/inicio">
            </div>
            <div class="title">
                <h1>Comunidad</h1>
                <p>Explora las comunidades de todas las universidades y carreras</p>
            </div>
        </div>

        <div class="forum-container">
            <button class="forum-button" (click)="navigateToForo()">Foro UPC</button>
            <button class="forum-button" (click)="navigateToForo()">Foro ULima</button>
            <button class="forum-button" (click)="navigateToForo()">Foro UP</button>
            <button class="forum-button" (click)="navigateToForo()">Foro Ingeniería</button>
            <button class="forum-button" (click)="navigateToForo()">Foro Ciencias de la Salud</button>
            <button class="forum-button" (click)="navigateToForo()">Foro Arquitectura</button>
        </div>
    </div>
</div>