<div class="signin-container">
    <div class="header">
        <img src="assets/images/Logo.png" alt="Logo" class="logo" />
        <p>Iniciar Sesión</p>
    </div>
    <div class="body">
        <div class="field">
            <label>Correo</label>
            <input type="text" placeholder="Ingrese correo">
        </div>
        <div class="field">
            <label>Contraseña</label>
            <input type="password" placeholder="Ingrese contraseña">
        </div>
    </div>
    <div class="buttons">
        <input class="signin" type="button" value="Iniciar Sesión" (click)="SignIn()">
        <input class="cancel" type="button" value="Cancelar" (click)="navigateToMain()">
    </div>
</div>
