<div class="signin-container" [formGroup]="signInForm">
    <div class="header">
        <img src="assets/images/Logo.png" alt="Logo" class="logo" />
        <p>Iniciar Sesión</p>
    </div>
    <div class="body">
        <div class="field">
            <label>Correo</label>
            <input type="text" formControlName="email" placeholder="Ingrese correo">
            <div *ngIf="email?.invalid && email?.touched" class="error">
                <small *ngIf="email?.errors?.['required']">Correo es requerido</small>
                <small *ngIf="email?.errors?.['email']">Correo no válido</small>
            </div>
        </div>
        <div class="field">
            <label>Contraseña</label>
            <input type="password" formControlName="password" placeholder="Ingrese contraseña">
            <div *ngIf="password?.invalid && password?.touched" class="error">
                <small *ngIf="password?.errors?.['required']">Contraseña es requerida</small>
                <small *ngIf="password?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres</small>
            </div>
        </div>
    </div>
    <div class="buttons">
        <input class="signin" type="button" value="Iniciar Sesión" (click)="SignIn()">
        <input class="cancel" type="button" value="Cancelar" (click)="navigateToMain()">
    </div>
</div>
